@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Share Tech Mono', monospace;
  font-size: 3vh;
  letter-spacing: -.15vh;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

input, button {
  font-family: 'Share Tech Mono', monospace;
  user-select: none;
}

button {
}

@import './css/screen.scss';
@import './css/controls.scss';
