.controls {
  @include full;
  @include center;
  background: black;

  &-code {
    @include full;
    @include center;
    transition: visibility .5s, opacity .5s;

    &-description {
      font-size: 4vw;
      color: white;
      margin: 0;
    }

    &-input {
      width: calc(50% + 20vw);
      height: 20vw;
      margin: 10vw 0 10vw 20vw;
      letter-spacing: 10vw;
      font-size: 10vw;
      padding: 4vw;
      border: 0;
      outline: none;
      color: transparent;
      text-shadow: 0 0 0 rgb(50, 50, 50);
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      text-transform: uppercase;
      background: url('assets/images/code-boxes.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: rgb(100, 100, 100);
      }

      &.error {
        text-shadow: 0 0 0 rgb(200, 0, 0);
      }
    }

    &-hint {
      font-size: 3vw;
      color: white;
      margin: 0;
      text-align: center;
      &::first-line {
        font-size: 5vw;
        font-style: italic;
        margin: 1vw;
      }
    }
  }

  &-enable {
    position: absolute;
  }

  &-rotate-device {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 3rem;
    transform: translate(-50%, -50%);
    background: url('assets/images/rotate-device.svg');
  }

  &-background {
    @include full;
  }

}
