.screen {
  @include full;
  @include center;

  &-connect {
    @include full;
    @include center;
    background: rgba(0, 0, 0, .5);
    transition: opacity 1s, visibility 1s;
    // display: none;

    p {
      color: white;
      font-size: 1rem;
      text-align: center;
    }

    &-code {
      color: white;
      font-size: 3rem;
      font-family: 'Share Tech Mono', monospace;
      text-transform: uppercase;
      letter-spacing: 2.5rem;
      padding-left: 2.5rem;
      text-shadow: 0 .5rem .5rem rgb(0, 0, 0);
    }

    &-image {
      width: 5rem;
      height: 5rem;
      border: .5rem solid white;
      box-shadow:  0 .5rem .5rem rgb(0, 0, 0);
      background: white;
    }
  }

  &-connected {
    @include full;
    @include center;
    transition: opacity 1s; visibility: 1s;
    transition-delay: .5s;

    p {
      color: black;
      font-size: 1rem;
      text-align: center;
    }
  }
}
